.animate-text-faded {
	position: relative; /* Ensure the element remains in the document flow */
	display: inline-block; /* Ensure the element takes up only the necessary width */
}

.animate-text-faded span {
	opacity: 0; /* Hide spans initially */
	position: relative; /* Position the animated text relatively */
	display: inline-block; /* Display spans in line */
}

.animate-text-faded .word {
	display: inline-block;
	opacity: 1;
	white-space: nowrap;
}
